<div *ngFor="let character of characters?.data?.results" class="card">
    <div class="card-name" [routerLink]="['/details/',character?.id]">
        <img 
            width="48" 
            height="48" 
            [src]="character?.thumbnail?.path + '/portrait_incredible.' + character?.thumbnail?.extension"
            alt="avatar"
        >
        <strong>{{ character.name }}</strong>
    </div>
    <div class="card-details">
        <p *ngFor="let serie of character?.series?.items | slice: 0:3" >{{ serie.name }}</p>
    </div>

    <div class="card-details">
        <p *ngFor="let event of character?.stories?.items | slice: 0:3" >{{ event.name }}</p>
    </div>
</div>