<div class="card">
    <div class="card-name">
        <img width="48" height="48" src="http://i.annihil.us/u/prod/marvel/i/mg/c/e0/535fecbbb9784/portrait_incredible.jpg" alt="avatar">
        <strong>Abner Jenkins</strong>
    </div>
    <div class="card-details">
        <p>Iron Man: Armor Wars</p>
        <p>Old Man Hawkeye</p>
        <p>Fantastic Four Visionaries: Walter Simonson Vol. 1</p>
    </div>

    <div class="card-details">
        <p>AvX</p>
        <p>Demon in the Bottle</p>
        <p>Dynasty M</p>
    </div>
</div>