<div class="paginator">
    <div class="paginator-chevrons-left">
        <i class="fa-solid fa-chevron-left"></i>
        <i class="fa-solid fa-chevron-left"></i>
    </div>

    <i class="fa-solid fa-chevron-left"></i>
    <div class="paginator-numbers">
        <p class="paginator-numbers-disabled">1</p>
        <p class="paginator-numbers-enabled">2</p>
        <p class="paginator-numbers-disabled">3</p>
    </div>
    <i class="fa-solid fa-chevron-right"></i>

    <div class="paginator-chevrons-right">
        <i class="fa-solid fa-chevron-right"></i>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</div>

