<div class="paginator">
    <div 
      *ngIf="pageIndex >= 2" 
      class="paginator-chevrons-left"
      (click)="setPage(0)"
    >
      <i class="fa-solid fa-chevron-left"></i>
      <i class="fa-solid fa-chevron-left"></i>
    </div>

    <i 
      *ngIf="pageIndex >= 1" 
      class="fa-solid fa-chevron-left" 
      (click)="setPage(pageIndex - 1)"
    ></i>

    <button 
      class="paginator-numbers" 
      *ngFor="let page of pages" 
      [class.active]="pageIndex === page" 
      (click)="setPage(page)"
    >
      {{ page + 1 }}
    </button>
      
    <i
      *ngIf="!(pageIndex === totalPages - 1)" 
      class="fa-solid fa-chevron-right"
      (click)="setPage(pageIndex + 1)"
    ></i>

    <div 
      *ngIf="!(pageIndex >= totalPages - 2)"
      class="paginator-chevrons-right"
      (click)="setPage(totalPages -1)"
    >
      <i class="fa-solid fa-chevron-right"></i>
      <i class="fa-solid fa-chevron-right"></i>
  </div>
</div>

