<div class="paginator">
    <div 
        *ngIf="activePage >= 2" 
        class="paginator-chevrons-left"
        (click)="change(0)"
    >
            <i class="fa-solid fa-chevron-left"></i>
            <i class="fa-solid fa-chevron-left"></i>
    </div>

    <i 
        *ngIf="activePage >= 1" 
        class="fa-solid fa-chevron-left"
        (click)="change((activePage -1)*10)"
    ></i>

    <div class="paginator-numbers">
        <p 
            *ngFor="let page of [1,2,3,4,5]" 
            [class]="activePage+1 === page ? 'paginator-numbers-enabled' :'paginator-numbers-disabled'"
            (click)="change((page * 10)-10)"
        >
            {{ page }}
        </p>
    </div>

    <i
        *ngIf="!(activePage >= 4)" 
        class="fa-solid fa-chevron-right"
        (click)="change((activePage +1)*10)"
    ></i>

    <div 
        *ngIf="!(activePage >= 3)" 
        class="paginator-chevrons-right"
        (click)="change(40)"
    >
        <i class="fa-solid fa-chevron-right"></i>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</div>

