@import 'src/assets/variables.scss';

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $smoke-color;

    &-chevrons-left {
      margin: 0 16px;
      i {
          margin-right: -4px;
      }
    }

    &-chevrons-right {
        margin: 0 16px;
        i {
            margin-left: -4px;
        }
    }

    .fa-chevron-right {
        cursor: pointer;
    }

    .fa-chevron-left {
        cursor: pointer;
    }
    
    &-numbers {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      color: $dark-smoke-color;
      background-color: $snow-color;
      border: 1px $dark-snow-color solid;
      width: 32px;
      height: 32px;
      border-radius: 4px;
      margin: 0 4px;
      cursor: pointer;

      &:hover, &.active {
        background-color: $dark-blue-color;
        border-color: $dark-blue-color;
        color: white;
      }
    }
  }