@import 'src/assets/variables.scss';

.content {
    background-color: $dark-snow-color;
    min-height: calc(100vh - 220px);
    padding: 40px 113px 113px;

    &-title {
        font-size: 32px;
        color: $dark-smoke-color;
        font-weight: bold;
        margin-bottom: 16px;
        font-family: 'PT Sans Caption', sans-serif;
    }

    &-subtitle {
        font-size: 16px;
        color: $dark-smoke-color;
        font-weight: bold;
        margin-bottom: 8px;
        font-family: 'PT Sans Caption', sans-serif;
    }
    
    &-input {
        input {
            margin-bottom: 40px;
            border-color: transparent;
            border: none;
            outline: 0;
            width: 295px;
            height: 32px;
    
            &::placeholder {
                font-style: italic;
            }
        }
    }

    &-table-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: $smoke-color;
        font-size: 12px;
        margin: 0 24px 8px 24px;
    }

    .fa-magnifying-glass {
        margin-left: -24px;
        color: $smoke-color;
        height: 32px;
    }

    .footer {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 64px;
        background: white;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        padding: 24px;

        &-title {
            text-align: center;
        }

        &-subtitle {
            text-align: center;
        }

        &-input {
            display: flex;
            justify-content: center;
        }

        .fa-magnifying-glass {
            display: flex;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 900px) {
    .content {
        &-table-header {
            margin-left: 97px;
            span {
                display: none;
            
                &:first-child {
                    display: block;
                }
            }
        }
    }
}